import(rstan)
import(ggplot2)
importFrom(reshape2,melt)
importFrom(plyr,ldply,ddply)
exportPattern("^[[:alpha:]]+")
exportMethods(
    "compile_bdm",
    "fit",
    "initialize",
    "iterate",
	"project",
	"histplot",
	"traceplot",
	"figplot",
	"shape",
	"refpoints",
	"shape<-",
	"sigmao",
	"sigmao<-",
	"sigmap",
	"sigmap<-",
    "mass",
    "mass<-",
    "maturity",
    "maturity<-",
    "nmort",
    "nmort<-",
    "rcalc",
    "size",
    "size<-",
    "sr",
    "sr<-",
    "survivorship",
    "update_bdm",
	"as.kobe"
)
exportClasses(
	 "edat",
     "bdm",
     "rdat",
     "rprior"
)
S3method(residuals,bdm)
S3method(plot,edat)
S3method(plot,rprior)
